
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

nav {
  padding: 0 1rem;
}
.textColor{
  text-shadow: #363035;
  color: #050505;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(5, 90, 247, 0.501);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content {
  min-height: calc(100vh - 70px - 62px);
  padding: 1.5rem 0;
}
.nav-color{
  background-image: url("https://previews.123rf.com/images/prawny/prawny0812/prawny081200004/3937589-jumbled-up-israeli-flag-wallpaper-background-design-.jpg");
}

.listUdp {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

img,
iframe {
  max-width: 100%;
}

iframe {
  width: 600px;
  height: 350px;


}

.overflow {

  padding: 15px;
  width: 100%;
  height: 200px;
  overflow: auto;
 

}



.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #b21dc0;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #363035;
}

/* scollBar */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5252e8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb7272;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f17a7a;
}

.adminCardPanel {
  display: flex;
  justify-content: center;
  height: 60px;
}

.deleteAdminBtn {
  display: flex;
  margin: 0% 30% 7% 0%;

  padding: 5px;
}


button:focus {
  outline: none;
  background-color: #f4be53;
}


.cardImage {

  max-height: 190px;
}

.sendBtn {
  color: aqua;
  width: 1000px;
}

.cardForm {
  height: 606px;
}

#TextField {
  margin: 5px;
}

.textFealds {
  margin: 0px;
}

.datePanel {

  width: 50%;
  margin-left: 0%;
  margin: 0% 25%;

}


.cardMain {
  height: 606px;

}

.formDiv {
  margin: 0% 0% 5% 0%;

}

.miniFormDiv {

  margin: 0% 0% 18% 0%;

}

.chartMain {
  width: 100%;
}

.card-image {
  width: 100%;
  height: 100%;
}



.errorMain {
  top: 0;
  bottom: 0;
  margin: auto 0;

}